.sidebar {
  display: flex;
  flex-direction: column;
}
.sidebar__header {
  display: flex;
  flex-direction: row;
}
.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  background-color: #c4c4c4;
  border: 1px solid #0000004d;
}
.sidebar__username {
  margin: 0;
  font-family: "Cabinet Grotesk Medium";
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  width: max-content;
  display: flex;
  align-items: center;
  margin-left: 16px;
}
.sidebar__line {
  margin-top: 24px;
}
.sidebar__profile-data,
.sidebar__logout {
  font-family: "Cabinet Grotesk Medium";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 8px 0 0 0;
}
.sidebar__profile-data {
  cursor: pointer;
}
.sidebar__logout {
  cursor: pointer;
}
